/* 
 * @description 全部公共样式
 * @create time 2021-7-6
 */
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}

.padding-container {
  padding: 32rpx;
}
/* flex-direction: row; */
.flex {
	display: flex;
}
.flex-around {
	display: flex;
	justify-content: space-around;
}
.flex-between {
	display: flex;
	justify-content: space-between;
}
.flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-around-center {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-start-center {
	display: flex;
	align-items: center;
}
.flex-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-center-end {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
/* flex-direction: column; */

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flex-column-around {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
